<div class="container d-flex justify-content-start">
    <button  class="btn btn-secondary w-25 mt-5" (click)="AddLeave()">Apply Leave<i class="fa-solid fa-plus ms-2"></i>
    </button>
  </div>
  
<div class="container d-flex justify-content-center">
    <h2 class="mb-4 mt-4 content">Leave-Lists</h2>
  </div>
  <div class="container">
    <table class="table table-bordered text-center">
      <thead class="table-secondary">
        <tr>
          <th>Leave type</th>
          <th>Date of Request</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Total Days</th>
          <th>Reason for Leave</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let leave of leaveList">
        <tr>
          <td>{{ leave.leaveType.type| titlecase }}</td>
          <td>{{ leave.dateOfRequest| date }}</td>
          <td>{{ leave.startDate| date }}</td>
          <td>{{ leave.endDate| date }}</td>
          <td>{{ calculateTotalDays(leave.startDate,leave.endDate)}}</td>
          <td>{{ leave.reasonForLeave }}</td>
          <td>{{ leave.status| titlecase }}</td>
          <td>
            <button class="btn btn-danger m-1" [disabled]="leave.status === 'Rejected' ||leave.status === 'Cancelled' " (click)="cancelLeave(leave)">Cancel
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  